.cube-cell-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.cube-cell-container .content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.cube-cell-container .content .edit{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    overflow: hidden;
    transition: all ease-in-out .4s;
}
.cube-cell-container:hover{
    cursor: pointer;
}
.cube-cell-container:hover .edit{
    top: 0;
}
/**cube-cell样式**/
.cube-cell-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cube-cell-one .img-container{
    display: flex;
    justify-content: center;
}

.cube-cell-two{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.cube-cell-two .img-container{
    display: flex;
    justify-content: center;
}

.cube-cell-three{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.cube-cell-three .img-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cube-cell-four{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cube-cell-four .img-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cube-cell-five{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.cube-cell-five .img-container{
    display: flex;
    justify-content: flex-end;
}

.cube-cell-six{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.cube-cell-six .img-container{
    display: flex;
    justify-content: flex-start;
}
.cube-cell-seven{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cube-cell-seven .img-container{
    display: flex;
    justify-content: flex-end;
}

.cube-cell-eight{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cube-cell-eight .img-container{
    display: flex;
}
.cell-title-wrap{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}
.cell-title-wrap p{
    line-height: 1.15;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
